@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

code {
  font-family: 'Poppins', sans-serif;
}

.bingkai-component {
  margin-top: 30px;
  padding: 5px 18px;
  background: #ffffff;
  /* shadow bag */

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.navbar-component {
  background-color: #40916c;
  color: white;
  font-weight: 600;
}

.navbar-component-item {
  color: white;
  font-weight: 500;
}

.cek {
  color: blue;
}

.search-component form {
  width: 100%;
  padding: 20px 0px;
}
.search-component input {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  width: 70%;
}
.search-component button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 3px 2%;
  margin-left: 10%;
  border: none;
  color: white;
  background: #40916c;
  border-radius: 5px;
}
