.loading-page {
  background-image: linear-gradient(124.7deg, rgba(64, 142, 70, 1) 23.4%, rgba(191, 215, 48, 1) 122.1%);
  padding-bottom: 200px;
  min-height: 800px;
}
.loading-page h1 {
  text-align: center;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  color: white;
  margin-top: 30px;
}
