.notfound-image {
  width: 100%;
  max-height: 500px;
  pointer-events: none;
  margin: 100px 20px;
}
.notfound-page h1 {
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  color: #40916c;
}
.notfound-page a {
  text-decoration: none;
  font-size: 30px;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  color: #40916c;
}
.notfound-page a:hover {
  color: #214d39;
}
